version: "3.9"
services:
  api:
    container_name: api-agendador-bff
    build: .
    restart: on-failure
    ports:
      - "8086:8080"
    environment:
      USUARIO_URL: http://host.docker.internal:8080
    networks:
      - agendador-bff

networks:
  agendador-bff:
    driver: bridge
